<table>
  <thead>
    <th class="config_name">Config Name</th>
    <th>Outcomes</th>
  </thead>
  <tbody>
    <% @configs.each do |c| %>
    <tr>
      <td class="config_name"><%= c[:name] %> <a class="run" href="/run/<%= c[:file] %>"></a></td>
      <td>
        <% unless @logs[c[:name]].nil? %>
        <ul>
          <% @logs[c[:name]].each do |log| %>
            <li>
              <a title="<%= log[:state] %>" class="<%= log[:state] %>" href="/logs/<%= log[:filename] %>"></a> <%= epoch_to_datetime(log[:epoch]) %>
            </li>
          <% end %>
        </ul>
        <% else %>
          <ul><li>No logs</li></ul>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
