<table>
  <thead>
    <th>Config Name</th>
    <th>Actions</th>
    <th>Outcomes</th>
  </thead>
  <tbody>
    <% @configs.each do |c| %>
    <tr>
      <td><%= c[:name] %></td>
      <td><a href="/run/<%= c[:file] %>">Run</a></td>
      <td>
        <% unless @logs[c[:name]].nil? %>
          <% @logs[c[:name]].each_with_index do |log,i| %>
            <a href="/logs/<%= log[:filename] %>"><img title="<%= log[:state] %>" src="/images/<%= log[:state] %>.png" /></a>
            <% if i == 0 %>
              <strong><%= epoch_to_datetime(log[:epoch]) %></strong>
            <% else %>
              <%= epoch_to_datetime(log[:epoch]) %>
            <% end %>
          <% end %>
        <% else %>
          No logs
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
